<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>home</title>
</head>
<body>
    <header>
        <img class="logo" src="images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
        <div id="serachBar">
            <input type="search" name="" placeholder="Buscar productos marcas" id=""><button><i class="fas fa-search"></i></button>
        </div>
        <p><i class="fas fa-hand-holding-usd"></i> Comprá en couotas y sin tarjetas de crédito</p>
        <br>
        <nav>
            <i class="fas fa-bars"></i>
            <ul class="menu">
                <li><a href="##">Ofertas</a></li>
                <li><a href="##">Tiendas Oficiales</a></li>
                <li><a href="##">Vender</a></li>
                <li><a href="##">Ayuda</a></li>
            </ul>
                
            <ul class="cuentas">                
                <li><a href="register">Creá tu cuenta  <i class="far fa-id-card"></i></a></li>
                <li><a href="login">Ingresa  <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="##">Mis Compras  <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <br>
    </header>
    
    <img class= "banner" width="100%" src="images/img-home-banner.jpg" alt="imagen de la cafetera">
    <br>
    <br>   
    <main>
        <section>

            <h2>Basado en tu última visita</h2>
            <div class="conjuntoDeArticulos">
                <article>
                    <img width="80%" src="images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                    <div class="div-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <h3 class="descripcion">Cafetera Moulinex</h3>
                    </div>
                </article>
    
                <article>
                    <img width="80%" src="images/img-macbook-pro-2019.jpg" alt="Imagen de Macbook Pro">
                    <div class="div-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off </p>
                        <h3 class="descripcion">MacBook Pro 2019</h3>
                    </div>
                </article>
    
                <article>
                    <img width="80%" src="images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                    <div class="div-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off </p>
                        <h3 class="descripcion">Samsung Galaxy S10</h3>
                    </div>
                </article>
    
                <article>
                    <img width="80%" src="images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                    <div class="div-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off </p>
                        <h3 class="descripcion">SmartTv Samsung 43"</h3>
                    </div>
                </article>
            </div>

        </section>

        <section>

            <h2>Seccion de Ofertas</h2>
            <div class="conjuntoDeArticulos">
                <article>
                    <img width="80%" src="images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                    <div class="div-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="desuento">40% OFF</p>
                        <h3 class="descripcion">Cafetera Moulinex</h3>
                    </div>
                </article>
    
                <article>
                    <img width="80%" src="images/img-macbook-pro-2019.jpg" alt="Imagen de Macbook Pro">
                    <div class="div-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="desuento">20% off </p>
                        <h3 class="descripcion">MacBook Pro 2019</h3>
                    </div>
                </article>
    
                <article>
                    <img width="80%" src="images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                    <div class="div-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="desuento">10% off </p>
                        <h3 class="descripcion">Samsung Galaxy S10</h3>
                    </div>
                </article>
                
                <article>
                    <img width="80%" src="images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                    <div class="div-article">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="desuento">5% off </p>
                        <h3 class="descripcion">SmartTv Samsung 43"</h3>
                    </div>
                </article>
            </div>
        
        </section>

    </main>

    <br>
    <br>
    
    <footer>
        <Section>
            <br>
            <ul>
                <li><i class="fas fa-credit-card"></i><br><p><strong>Paga con tarjeta o en efectivo</strong><br> Con Mercado Liebre Cash, tenés sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p></li>
                <br>
                <li><i class="fas fa-gift"></i><br><p><strong>Envío gratis desde $ 2.500</strong><br>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p></li>
                    <br>
                <li><i class="fas fa-user-shield"></i><br><p><strong>Seguridad, de principio a fin</strong><br>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p></li>    
            </ul>

            <br>
            <br>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

        </Section>

    </footer>

</body>
</html>